<div>
    {{resize}}
    <p-table [columns]="columns" [value]="value" [resizableColumns]="resize">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>