
<!-- <router-outlet></router-outlet> -->

<app-tablewrapper [columns]="cols" [value]="data" [resize]="true"></app-tablewrapper>

<app-tablewrapper [columns]="cols" [value]="data" [resize]="false"></app-tablewrapper>